<a href="https://colab.research.google.com/github/beedrumms/eta_/blob/main/wine_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mounting google colab on drive 
from google.colab import drive, files
import os
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# sql extension 
%load_ext sql
#connect to in memory sqlite db 
%sql sqlite://

'Connected: @None'

In [3]:
#Creating tables -- wines -- vineyard 
%%sql 
CREATE TABLE if not exists Wine (
  Uid int PRIMARY KEY,
  Name varchar(255),
  Year date,
  Vineyard varchar(255),
  GrapeNumber varchar(255),
  Review text
);

SELECT * From Wine;

 * sqlite://
Done.
Done.

[]

In [4]:
%%sql 
CREATE TABLE if not exists Blend (
  WineUid int, 
  WineName varchar(255),
  PrimaryGrape varchar(255), 
  SecondaryGrape varchar(255),
  TriaryGrape varchar(255),
  CONSTRAINT fk_wineUid FOREIGN KEY(WineUid)
  REFERENCES Wine(Uid)
);

SELECT * From Blend

 * sqlite://
Done.
Done.

[]

In [5]:
%%sql
INSERT INTO Wine VALUES(0001, 'house red', 2015, 'winetown', 3, 'spritzy, light & affordable sparklings - ideal for splashing around in a swimming pool or a long afternoon spent in a Toronto Island daze');
INSERT INTO Wine VALUES(0002, 'house red', 2016, 'wineville', 2, 'old-school approach to sparkling wine produces a featherweight wine with light fruit, lower ABV and tons of easy drinking freshness, perfect for splashing around a backyard kiddy pool OR a good ‘ole game of Mario Kart with your pals');
INSERT INTO Wine VALUES(0003, 'sunday in august', 2017, 'wineville', 1, 'BIG limestone energy like stealing a rock from a vineyard and sniffing it alone in your hotel room later that night');
INSERT INTO Wine VALUES(0004, 'la pause', 2015, 'winecity', 2, 'Full & rich, structured & spicy, it’s like you cooked down a bunch of berries with a splash of blackcurrant cassis (clever!) and black pepper (edgy!) with a slight liquorice note');
INSERT INTO Wine VALUES(0005, 'chateau vieux', 2019, 'wineworld', 1, 'juicy but not fruit-forward, slightly floral, firmly earthy with a perfect alignment of presence & power – tart cranberry, fleshy blueberries & sorrel sorbet with voluminous tannins and fresh acid');
INSERT INTO Wine VALUES(0006, 'el compadre', 2017, 'wineville', 3, 'Raspberry ruby, blood orange gelato, cherry chapstick, first day of spring');
INSERT INTO Wine VALUES(0007, 'frappato', 2019, 'wineworld', 2, 'Dr Pepper, watermelon seed, cherry pastille, Finnish rye bread with a thick layer of lingonberry preserves, wet leaf & a sprinkle of white pepper like perfect summertime freckles');
INSERT INTO Wine VALUES(0008, 'aunis', 2017, 'wineville', 3, 'like the smell of the month of October exploded into a wine. Crackling dried leaves & outdoor firepit, clear & crisp & romantic');
INSERT INTO Wine VALUES(0009, 'st. laurent', 2018,'wineworld', 2, 'Silky, milky chocolatey texture, crunchy black tea tannins, overflowing baskets of perfect black cherries');
INSERT INTO Wine VALUES(0010, 'cashtown', 2015, 'winecity', 3, 'Purple freezie goes to Coachella, Italian plums, blackcurrant Harrods candies, blackberry preserves & the gushiest of gushy fruit');
INSERT INTO Wine VALUES(0011, 'koerner', 2018, 'wineworld', 2, 'moked cranberry, cherry pit, autumn plum, fresh tobacco, star anise, a touch of earthy funk & stemmy tannins');
INSERT INTO Wine VALUES(0012, 'Envinate', 2019, 'wineville', 3, 'Medium-bodied, concrete-fermented for max freshness, dusty plum, juice dribbling down your chin, jam jar of star anise, sleek granite, cherry with wet dirt on it, cold breeze, type A personality');
INSERT INTO Wine VALUES(0013, 'forlon hope', 2020, 'winecounty', 2, 'Bright, crunchy, anise-y magic with a zippy core. Pair with all the pizza, pasta & barbeque moments - it is savoury and rustic');
INSERT INTO Wine VALUES(0014, 'zinny', 2019, 'winescene', 3, 'Inky-dark, silky-textured & sensually aromatic with notes of smoked cherries, blackcurrant jam, dark chocolate & savoury earth with a whiff of HB2 pencil');
INSERT INTO Wine VALUES(0015, 'june red', 2017, 'wineville', 3, 'juiciness from the Frankovka aka Blaüfrankisch, blackcurrant cassis and a touch of graphite from the Cab and then a nice, ripe berry quality from the Alibernet');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%%sql 
INSERT INTO Blend VALUES(0001, 'house red', 'bordeaux', 'cabernet sauvignon', 'pinot noir');
INSERT INTO Blend VALUES(0002, 'house red', 'pinot noir', 'malbec', NULL);
INSERT INTO Blend VALUES(0003, 'sunday in august', 'gamay', NULL, NULL);
INSERT INTO Blend VALUES(0004, 'la pause', 'pinot noir', 'bordeaux', NULL);
INSERT INTO Blend VALUES(0005, 'chateau vieux', 'gamay', NULL, NULL);
INSERT INTO Blend VALUES(0006, 'el compadre', 'malbec', 'pinot noir', 'cabernet sauvignon');
INSERT INTO Blend VALUES(0007, 'frappato', 'pinot noir', 'gamay', NULL);
INSERT INTO Blend VALUES(0008, 'aunis', 'gamay', 'bordeaux', 'malbec');
INSERT INTO Blend VALUES(0009, 'st. laurent', 'pinot noir', 'malbec', NULL);
INSERT INTO Blend VALUES(0010, 'cashtown', 'pinot noir', 'cabernet sauvignon', 'malbec');
INSERT INTO Blend VALUES(0011, 'koerner', 'pinot noir', 'bordeaux', NULL);
INSERT INTO Blend VALUES(0012, 'Envinate', 'cabernet sauvignon', 'gamay', 'pinot noir');
INSERT INTO Blend VALUES(0013, 'forlon hope', 'gamay', 'pinot noir', NULL);
INSERT INTO Blend VALUES(0014, 'zinny', 'cabernet sauvignon', 'gamay', 'pinot noir');
INSERT INTO Blend VALUES(0015, 'june red', 'pinot noir', 'bordeaux', 'gamay');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

##What are the 10 most recent wines that used a pinot noir grape?

###
house red, house red, la pause, el compadre, 
frappato, cashtown, Envinate, forlon hope, zinny, june red

In [12]:
%%sql
SELECT Blend.WineName, Wine.Year, Wine.Review
FROM Blend
JOIN Wine
  ON Wine.Uid = Blend.WineUid 
  WHERE (Blend.PrimaryGrape = "pinot noir") OR (Blend.SecondaryGrape = "pinot noir") OR (Blend.TriaryGrape = "pinot noir")
ORDER BY Wine.Year DESC
LIMIT 10;

 * sqlite://
Done.

[('forlon hope', 2020, 'Bright, crunchy, anise-y magic with a zippy core. Pair with all the pizza, pasta & barbeque moments - it is savoury and rustic'),
 ('frappato', 2019, 'Dr Pepper, watermelon seed, cherry pastille, Finnish rye bread with a thick layer of lingonberry preserves, wet leaf & a sprinkle of white pepper like perfect summertime freckles'),
 ('Envinate', 2019, 'Medium-bodied, concrete-fermented for max freshness, dusty plum, juice dribbling down your chin, jam jar of star anise, sleek granite, cherry with wet dirt on it, cold breeze, type A personality'),
 ('zinny', 2019, 'Inky-dark, silky-textured & sensually aromatic with notes of smoked cherries, blackcurrant jam, dark chocolate & savoury earth with a whiff of HB2 pencil'),
 ('st. laurent', 2018, 'Silky, milky chocolatey texture, crunchy black tea tannins, overflowing baskets of perfect black cherries'),
 ('koerner', 2018, 'moked cranberry, cherry pit, autumn plum, fresh tobacco, star anise, a touch of earthy funk & stemmy tannins'),
 ('el compadre', 2017, 'Raspberry ruby, blood orange gelato, cherry chapstick, first day of spring'),
 ('june red', 2017, 'juiciness from the Frankovka aka Blaüfrankisch, blackcurrant cassis and a touch of graphite from the Cab and then a nice, ripe berry quality from the Alibernet'),
 ('house red', 2016, 'old-school approach to sparkling wine produces a featherweight wine with light fruit, lower ABV and tons of easy drinking freshness, perfect for splashing around a backyard kiddy pool OR a good ‘ole game of Mario Kart with your pals'),
 ('house red', 2015, 'spritzy, light & affordable sparklings - ideal for splashing around in a swimming pool or a long afternoon spent in a Toronto Island daze')]